.git/

D2DEZ/.vs/
D2DEZ/.idea/
D2DEZ/.vscode/
D2DEZ/bin/
D2DEZ/obj/
D2DEZ/x64/
D2DEZ/x86/
D2DEZ/Debug/
D2DEZ/Release/
D2DEZ/packages/

D2DEZAssetManager/.vs/
D2DEZAssetManager/.idea/
D2DEZAssetManager/.vscode/
D2DEZAssetManager/bin/
D2DEZAssetManager/obj/
D2DEZAssetManager/x64/
D2DEZAssetManager/x86/
D2DEZAssetManager/Debug/
D2DEZAssetManager/Release/
D2DEZAssetManager/packages/

*.user
*.suo